<div
  class="
    container mx-auto py-8 min-h-screen flex flex-col items-center justify-center
  "
>
  <%= render "header",
  first_link: link_to("Nova Vaga", new_job_path),
  second_link: button_to("Sair", destroy_employer_session_path, method: :delete) %>

  <div class="w-11/12 xl:w-3/4 bg-white shadow-lg rounded-lg p-8 mt-24">
    <h2 class="text-center text-xl font-semibold text-gray-700">Editar Vaga</h2>

    <%= render "form", job: @job %>

    <div class="mt-6 text-center">
      <%= link_to "Mostrar vaga",
      @job,
      class:
        "text-green-600 bg-green-200 hover:bg-green-300  py-3 p-4 rounded-md text-md font-bold" %>
    </div>
  </div>

  <div class="mt-6 text-center">
    <%= link_to "Voltar para vagas",
    jobs_path,
    class: "text-green-600 hover:underline  py-3 p-4 rounded-md text-md font-bold" %>
  </div>
</div>
