<div
  class="
    container flex flex-col items-center justify-center mx-auto min-h-screen py-8
  "
>
  <%= render "header",
  first_link: link_to("Meu Perfil", jobseeker_path(current_job_seeker)),
  second_link: button_to("Sair", destroy_job_seeker_session_path, method: :delete) %>

  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-100 mt-24 text-green-500 text-center font-medium rounded-lg
        inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

</div>
