<div
  class="
    container flex flex-col items-center justify-center mx-auto min-h-screen py-8
  "
>
  <%= render "header",
  first_link: link_to("Meu Perfil", jobseeker_path(current_job_seeker)),
  second_link: button_to("Sair", destroy_jobseeker_session_path, method: :delete) %>

  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-100 mt-24 text-green-500 text-center font-medium rounded-lg
        inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <section
    class="
      w-11/12 xl:w-full lg:px-8 mt-24 mx-auto grid grid-cols-1 sm:grid-cols-2
      xl:grid-cols-3 gap-6
    "
  >
    <% @jobs.each do |job| %>
      <%= link_to jobseeker_jobs_path(job), class: "md:transform md:hover:scale-105 transition-transform duration-200 ease-in-out" do %>
        <div class="bg-white overflow-hidden shadow-lg rounded-lg p-6">
          <%= render "job", job: job %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
